@page
@model bookiffyrazor.Pages.Categories.EditModel

<form method="post">
    <fieldset>
        <div class="row m-0 p-0">
            <legend class="mb-0 border-bottom">Edit Category</legend>
        </div>

        <div class="col-12 mt-4">
            <div asp-validation-summary="None" class="text-danger"></div>
        </div>

        <div class="row m-0 p-0">
            <div class="col-12">
                @* good practice to always include Id then hide it *@
                <input asp-for="Category.Id" hidden />
                <label asp-for="Category.Name" class="form-label"></label>
                <input asp-for="Category.Name" class="form-control" placeholder="Enter name" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="col-12 mt-4">
                <label asp-for="Category.DisplayOrder" class="form-label"></label>
                <input asp-for="Category.DisplayOrder" class="form-control" placeholder="Enter display order" />
                <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
            </div>
        </div>

        <div class="row mt-4 justify-content-between m-0 p-0">
            <div class="col-12 mb-2 col-md-3 col-lg-2">
                <a asp-page="/Categories/Index" class="btn btn-outline-primary w-100">
                    <i class="bi bi-arrow-return-left me-1"></i>
                    Back
                </a>
            </div>
            <div class="col-lg-2 col-12 col-md-3">
                <button type="submit" class="btn btn-primary w-100">
                    Update
                    <i class="bi bi-send ms-1"></i>
                </button>
            </div>
        </div>
    </fieldset>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
